{
  "presets": [["next/babel", { "preset-react": { "runtime": "automatic" } }]],
  "plugins": [
    ["@emotion"],
    [
      "module-resolver",
      {
        "root": ["."],
        "alias": {
          "helpers": "./helpers",
          "components": "./components",
          "pages": "./pages",
          "styles": "./styles",
          "mdx": "./mdx",
          "public": "./public"
        }
      }
    ],
    ["./babel-plugin-nextjs-mdx-patch"]
  ]
}
