{
  "presets": ["next/babel"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["."],
        "alias": {
          "helpers": "./helpers",
          "components": "./components",
          "pages": "./pages",
          "styles": "./styles"
        }
      }
    ]
  ]
}
