{
  "presets": [["next/babel", { "preset-react": { "runtime": "automatic" } }]],
  "plugins": [
    ["@emotion"],
    [
      "module-resolver",
      {
        "root": ["."],
        "alias": {
          "@": "."
        }
      }
    ],
    ["./babel-plugin-nextjs-mdx-patch"]
  ]
}
